{% trans_default_domain "error" %}
{% trans %}exceptionPage.header{% endtrans %}

{% trans %}exceptionPage.header.underline{% endtrans %}


{% trans %}exceptionPage.serverReturned{% endtrans %} "{{ status_code }} {{ status_text|trans }}".

{% set mailLink = 'support@commitkeeper.com' %}
{% trans %}exceptionPage.message%mailLink%{% endtrans %}
