{% stylesheets
    '@CKBundle/Resources/public/css/main/main.css'
    '@CKBundle/Resources/public/css/main/button.css'
    output='css/upgrade.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
