{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Upgrade:cssdef_upgrade.html.twig' %}
{% endblock %}

{% block rightcol %}
{% if action %}
Unfortunately you are not allowed to {{ action|trans }}
<p>
{% endif %}

<h1>Upgrade CommitKeeper</h1>

Your current user license enables use of all the free services offered
by CommitKeeper which include responding to requests from others,
creating work tasks (To Do's) for yourself, and participating as an
observer.  However, the feature you are attempting now requires an
upgrade to the paid service.  This upgrade enables you to make
requests of others and to access CommitKeeper's reporting features.
The price for the paid service level is $9 per month for unlimited
use.

<p>
We offer a free 15-day trial for you to determine if the upgrade is
right for you.  Click here to begin your free 15-day trial and start
getting the full value from your CommitKeeper account.  At the end of
the trial period you'll be invited to continue the upgraded features
by becoming a paid user of the service.

<p>
Please send any comments, questions, suggestions to us here.  We hope
you find CommitKeeper helpful.

{% endblock %}
