<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% trans %}dailyReport.title{% endtrans %}</title>
    <style type="text/css">
        .ExternalClass {width:100%;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }
        body {width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; border:0;}
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        table td {border-collapse:collapse;}
        table {border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
        a, a:link {
            color:#2A5DB0;
            text-decoration: underline;
        }

        body, #body_style {
            background:#CCC;
            background-color: #CCC;
            min-height:1000px;
            color:#000;
            font-family:Helvetica, Arial, sans-serif;
            font-size:14px;
        }

        span.yshortcuts { color:#000; background-color:none; border:none;}
        span.yshortcuts:hover,
        span.yshortcuts:active,
        span.yshortcuts:focus {color:#000; background-color:none; border:none;}

        #outlook a {padding:0;}
        a:visited { color: #3c96e2; text-decoration: none}
        a:focus   { color: #3c96e2; text-decoration: underline}
        a:hover   { color: #3c96e2; text-decoration: underline}
    </style>
</head>
<body style="background:#CCC; min-height:1000px; color:#000;font-family:Helvetica, Arial, sans-serif; font-size:14px;" alink="#FF0000" link="#FF0000" bgcolor="#CCCCCC" text="#000000">
<div id="body_style">
<table id="backgroundTable" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC" width="100%" align="center" style="margin: 0 auto; padding: 0; background-color:#CCC; color: #000; font-family:Helvetica, Arial, sans-serif; font-size:14px; width:100% !important; line-height: 100% !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
<tr><td>
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" width="800" align="center" style="width: 800px; margin: 0 auto; padding: 0; background-color:#FFF; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
<tr><td>
  <table cellpadding="8" cellspacing="2" border="0" width="746" style="width: 746px; text-align: left; margin: 0 auto; border-collapse:separate; mso-table-lspace:0pt; mso-table-rspace:0pt;" align="center">
    <thead>
    <tr>
        <th colspan="5" style="background-color:#CCC; margin:0px; padding: 0px; color:#666;">
            <img src="{{ headerImage }}" alt="{% trans %}dailyReport.title{% endtrans %}" style="outline: none; text-decoration: none; display: block">
        </th>
    </tr>
    <tr>
        <th style="white-space:nowrap; background-color:#CCC; margin: 2px; padding:8px; font-weight:normal; color:#666; font-size: 15px;">{% trans %}Status{% endtrans %}</th>
        <th style="white-space:nowrap; background-color:#CCC; margin: 2px; padding:8px; font-weight:normal; color:#666; font-size: 15px;" align="left">{% trans %}Title{% endtrans %}</th>
        <th style="white-space:nowrap; background-color:#CCC; margin: 2px; padding:8px; font-weight:normal; color:#666; font-size: 15px;" align="left">{% trans %}Requestor{% endtrans %}</th>
        <th style="white-space:nowrap; background-color:#CCC; margin: 2px; padding:8px; font-weight:normal; color:#666; font-size: 15px;" align="left">{% trans %}DueDate{% endtrans %}</th>
        <th style="white-space:nowrap; background-color:#CCC; margin: 2px; padding:8px; font-weight:normal; color:#666; font-size: 15px;" align="left">{% trans %}Performer{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for req in Table %}
        {% set tdStyle = 'font-size: 14px; margin: 2px; padding: 8px; background-color:#' ~ (loop.index is odd ? 'FFF' : 'F3F3F3') ~ ';' ~ (Unread[req.Id] is defined ? ' font-weight:bold;' : '') %}
        <tr>
            <td style="{{ tdStyle }} text-align: center;"><img src="{{ uriToCid[req.trafficLight.ImageUri] }}" alt="{{req.trafficLight.Title}}" title="{{req.trafficLight.Title}}" style="outline:none; text-decoration:none;"></td>
            <td style="{{ tdStyle }}"><a href="{{ CommitmentBaseUrl }}/{{ req.Id }}">{{req.title}}</a></td>
            <td style="{{ tdStyle }}">{{req.requestor.Name}}</td>
            <td style="{{ tdStyle }} text-align: right; white-space:nowrap;">{{req.DueDate|date(DateFormat)}}</td>
            <td style="{{ tdStyle }}">{{req.performer.Name}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="5" style="padding-top: 3em; text-align: center; font-size: 9pt; color: #2D78AA;">
            &copy; {{ 'now'|date('Y') }} <a href="http://4spires.com" target="_blank">4Spires, Inc.</a>
            <br>{% trans %}dailyReport.footer{% endtrans %}
        </td>
    </tr>
    </tbody>
</table>
</td></tr></table>
</td></tr></table>
</div>
</body>
</html>
