{% trans_default_domain "password_reset" %}
<html>
<body>
<h2>{% trans %}heading{% endtrans %}</h2>
{% trans with {'%name%': user.FirstName} %}dear%name%{% endtrans %}

<p>
 {% trans %}p1{% endtrans %}

<p>
 {% trans with {'%loginURL%': loginURL} %}p2.sentence1.html%loginURL%{% endtrans %}
{% trans %}p2.sentence2{% endtrans %}

<p>
 {% trans %}signature{% endtrans %}<br>
<a href="mailto:{% trans %}email{% endtrans %}">{% trans %}email{% endtrans %}</a><br>
</body>
</html>
