{% trans_default_domain "password_reset" %}{% autoescape false %}
{% trans with {'%name%': user.FirstName} %}dear%name%{% endtrans %}


 {% trans %}p1{% endtrans %}


 {% trans %}p2.sentence1.text{% endtrans %} {% trans %}p2.sentence2{% endtrans %}


 {% trans with {'%loginURL%': loginURL} %}p3.text%loginURL%{% endtrans %}


-- 
  {% trans %}signature{% endtrans %}

 {% trans %}email{% endtrans %}
{% endautoescape %}
