{% stylesheets
    '@CKBundle/Resources/public/css/main/jquery-ui-1.10.2.custom.css'
    '@CKBundle/Resources/public/css/main/main.css'
    '@CKBundle/Resources/public/css/main/button.css'
    '@CKBundle/Resources/public/css/main/autocomplete.css'
    '@CKBundle/Resources/public/css/main/jsDatePick_ltr.min.css'
    '@CKBundle/Resources/public/css/main/ddslick.css'
    '@CKBundle/Resources/public/css/main/form.css'
    output='css/form.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
