{% for ext in hist.getExtra(DateFormat) %}
<div class="ck-cd-history-item">
  <img class="ck-cd-history-item-image" src="{{ hist.Actor.Picture.Url }}" />
  <span class="ck-cd-history-item-details-date">{{ hist.EventDate|date(DateFormat) }}</span>&nbsp;
  <span class="ck-cd-history-item-details-person">{{ hist.Actor.Name }}</span>&nbsp;
  <span class="ck-cd-history-item-details-role">({{ hist.Role|trans({},'history') }})</span>&nbsp;
  <span class="ck-cd-history-item-details-action"></span>
  <div class="ck-cd-history-item-desc-short">{{ ext['msg']|trans(ext['vars'],'history') }}</div>
  <span class="ck-cd-history-item-desc-long"><p>{{ ext['msg']|trans(ext['vars'],'history') }}</p></span>
</div>
{% endfor %}
<div class="ck-cd-history-item">
  <img class="ck-cd-history-item-image" src="{{ hist.Actor.Picture.Url }}" />
  <span class="ck-cd-history-item-details-date">{{ hist.EventDate|date(DateFormat) }}</span>&nbsp;
  <span class="ck-cd-history-item-details-person">{{ hist.Actor.Name }}</span>&nbsp;
  <span class="ck-cd-history-item-details-role">({{ hist.Role|trans({},'history') }})</span>&nbsp;
  <span class="ck-cd-history-item-details-action">{{ hist.ActionStr|trans({},'history') }}</span>
  {% if hist.NeedsTranslation %}
    {% set shortDesc = hist.ShortDesc|trans({},'history') %}
    {% set longDesc = hist.Description|trans({},'history') %}
  {% else %}
    {% set shortDesc = hist.ShortDesc %}
    {% set longDesc = hist.Description %}
  {% endif %}
  <div class="ck-cd-history-item-desc-short">{{shortDesc}}</div>
  <span class="ck-cd-history-item-desc-long"><p>{{ longDesc|raw }}</p></span>
</div>
