/* confirm.css */
html, body {
    margin: 0;
    padding: 0;
    background: url("/images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover; background-size: cover;
}

#wrapper {
    margin: 0 auto;
    width: 1024px;
}

#commitkeeper {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 65px;
    width: 620px;
    box-shadow: 3px 3px 10px #404040;
}

#connect {
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
}

#connect {
    width: 810px;
    padding: 5px 10px 20px 10px;
    margin-bottom: 20px;
}

#left {
    float: left;
    width: 310px;
    padding: 0px 10px 0px 10px;
}

#right {
    float: right;
    width: 435px;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.label {
    text-align: right;
    padding-right: 5px;
}

img {
    border: 0 none;
}

p,
td {
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 18px;
    margin-bottom: 10px;
}

table.centre {
    margin-left: auto;
    margin-right: auto;
}

tr {
    vertical-align: middle;
}

table.centre td {
    padding-right: 30px;
    padding-left: 30px;
}

a:link,
a:visited,
a:active {
    color: #0000a1;
    text-decoration: underline;
}

a:hover {
    color: #7787bc;
    text-decoration: none;
}

input[type=text],
input[type=password] {
    border: 1px solid #808080;
    padding: 5px;
    width: 165px;
}

.janrainContent {
    border: 0px !important;
}

div#janrainEngageEmbed {
    width: 376px;
    margin-left: auto;
    margin-right: auto;
}
