{% extends '::base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Security:cssdef_login.html.twig' %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/login/*'
    output='js/login.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript"><!--
janrain = {};
janrain.settings = {};
janrain.settings.actionText ='{% trans %}janrainActionText.addOpenId{% endtrans %}';
setupJainRainLogin('{{ this_url }}');
//--></script>
{% endblock %}

{% block body %}
<div id="wrapper">
  <img id="commitkeeper" src="/images/login_banner2.png" alt="{% trans %}CommitKeeper{% endtrans %}" />

{% if oidErrMsg %}
{% from 'CKBundle:Translation:macros.html.twig' import translate %}
  <div class="error whitebox">{{ translate(oidErrMsg, 'validators') }}</div>
{% endif %}

  <div id="janrainEngageEmbed"></div>

</div>
{% endblock %}
