{% trans_default_domain 'registration' %}
<h2>{% trans with {'%aLogoutStart%': '<a href="' ~  path('logout') ~ '">', '%aEnd%': '</a>'}
    %}loggedIn.leftHeading%aLogoutStart%_%aEnd%{% endtrans %}</h2>

<div class="nav_links">
  <h2>{% trans with {'%name%': username} %}loggedIn.welcome%name%{% endtrans %}</h2>

    <a href="{{ table_url }}">{% trans %}loggedIn.commitmentsLink{% endtrans %}</a>
</div>
