{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/admin/newopenid.css'
    output='css/newopenid.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/login/*'
    output='js/login.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript"><!--
janrain = {};
janrain.settings = {};
janrain.settings.actionText ='{% trans %}janrainActionText.newOpenId{% endtrans %}';
janrain.settings.width = '397';
setupJainRainLogin('{{ this_url }}');
//--></script>
{% endblock %}

{% block body %}
<div id="wrapper">
  <img id="commitkeeper" src="/images/login_banner2.png" alt="{% trans %}CommitKeeper{% endtrans %}" />

{% if oidErrMsg %}
{% from 'CKBundle:Translation:macros.html.twig' import translate %}
  <div class="error whitebox">{{ translate(oidErrMsg, 'validators') }}</div>
{% endif %}

  <div id="janrainEngageEmbed"></div>

</div>
{% endblock %}
