{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/main/autocomplete.css'
    '@CKBundle/Resources/public/css/admin/register_newopenid.css'
    output='css/register_openid.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/main/00_jquery.js'
    '@CKBundle/Resources/public/js/form/jquery.autocomplete.js'
    output='js/register.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
<div id="wrapper">
  <img id="commitkeeper" src="/images/login_banner2.png" alt="{% trans %}CommitKeeper{% endtrans %}" />

  <div id="register">

    <div id="left">
<p>{% trans with {'%providerName%': providerName} from 'registration' %}newOpenId.registerAccount%providerName%{% endtrans %}</p>

<form action="{{ form_action }}" method="post">
{{ form_errors(form) }}
<table border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td>{{ form_label(form.firstName) }}</td>
    <td>{{ form_widget(form.firstName) }}{{ form_errors(form.firstName) }}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.lastName) }}</td>
    <td>{{ form_widget(form.lastName) }}{{ form_errors(form.lastName) }}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.email) }}</td>
    <td style="padding-bottom: 5px;">{{ form_widget(form.email) }}{{ form_errors(form.email) }}
{% if ac_email_list is defined %}
<script type="text/javascript" language="javascript"><!--
$('#{{ form.email.vars.id }}').autocompleteArray({{ ac_email_list|raw }},{{ ac_options|raw }});
//--></script>
{% endif %}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="register" value="{% trans from 'registration' %}newOpenId.registerButton{% endtrans %}"></td>
  </tr>
</table>
{{ form_rest(form) }}
</form>
    </div>

    <div style="padding: 0px 5px; float: left; text-align: center;"><p><strong>{% trans from 'registration' %}newOpenId.or{% endtrans %}</strong></p></div>

    <div id="right">
      <p>{% trans with {'%providerName%': providerName} from 'registration' %}newOpenId.connect%providerName%{% endtrans %}</p>
<table style="margin: 0 auto;" border="0" cellpadding="10" cellspacing="0" width="320">
  <tr>
    <td>{% trans from 'registration' %}newOpenId.ifHaveAccount{% endtrans %}</td>
  </tr>
  <tr>
    <td><input type="text" name="provider" value="{{ providerId }}" readonly="readonly"></td>
  </tr>
  <tr>
    <td><a class="buttonlink" href="{{path('login')}}">{% trans from 'registration' %}newOpenId.login{% endtrans %}</a></td>
  </tr>
</table>
    </div>

    <div style="clear: both;"></div>
  </div>
</div>
{% endblock %}
