/**
*Auto complete related
*/
.ac_results {
        padding: 0px;
        border: 1px solid #7FB7FB;
        overflow: hidden;
        background-color: #AFD2FD;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results iframe {
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        filter:mask();
        width:3000px;
        height:3000px;
  
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
  
}

.ac_loading {
        background : #AFD2FD url('img/loader.gif') right center no-repeat;
}

.ac_over {
        background-color: white;
        color: black;
}
