/*
* Css file for the forms
*/

html {
    height:100%
}

#overlay {
    display: none;
    position:absolute;
    z-index:10;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    opacity:0.1;
    cursor:pointer;
}

.modal_container
{
    position:relative;
    top:0;
    left:0;
}

.users_dialog {
    display: none;
    position:absolute;
    top: -50px;
    left:0;
    border:2px solid #3366CC;
    max-height:32em;
    width: 64em;
    overflow:auto;
    background-color:#ffffff;
    z-index:12;
    padding: 10px;
}

.users_table_div {
    max-height:20em;
    overflow:auto;
}

.sending-ajax {
    /* Make new user dialog window look different when
       we are waiting for a reponse from server */
    /* background-color:#222; removed, see mantis issue 233 */
}

.cc-formtable-new {
    margin:10px auto;
    width:90%;
    font-size:14px;
}
.cc-formtable-new table {
    margin:0px;
}

.error
{
    color: red;
}

.label, label
{
    font-weight: bold;
    color:#737373;
}

.date_input
{
    width:   7em;
    padding: 0px;
    margin:  0px;
}

.date_input_new
{
    width:   7em;
}

.ck-new-req-title table {
    width:100%;
}

.ck-date-hours {
    border-bottom:1px #ccc solid;
}

.ck-date-hours td {
    background-color: transparent;
    border:0px;
    width:33%;
    white-space: nowrap;
}

.ck-new-req-hours-due {
    text-align:right;
}
.ck-new-req-hours-due table {
    float:right;
}
.ck-new-req-budget {
    text-align:right;
}
.ck-new-req-budget input {
    width:60px;
}
.ck-new-req-duedate {
    text-align:right;
}
.ck-people table {
    width:100%;
}

.observers_table {
    width: 630px !important;
    margin-right: 10px;
}
.ck-new-contact {
    margin-left: 10px;
}
.ck-pad-top-botton {
    margin-top : 5px;
    margin-bottom : 5px;
}

.ck-people td
{
    background-color: transparent;
    border:0px;
    padding:0px;
    vertical-align:top;
}
.ck-new-req-label-title {
    width:97px;
}
.ck-new-req-label-performer {
    width:100px;
}
.ck-new-req-label-requestor{
    width:100px;
}
.ck-new-req-label-observer {
    width:100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.ck-new-req-field-title,
.ck-new-req-field-performer,
.ck-new-req-field-requestor,
.ck-new-req-field-observer {
    width: auto;
}
.ck-people .ck-new-req-field-title {
    padding-right:20px;
}
.ck-people .ck-new-req-field-performer {
    padding-right:8px;
}
.ck-people .ck-new-req-field-requestor {
    padding-right:20px;
}
.ck-people .ck-new-req-field-observer {
    padding-right:20px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ck-new-req-title .ck-new-req-field-title {
    padding-right:20px;
}
.ck-new-req-field-title input {
    width: 100%;
}

.ck-people .ck-new-req-field-performer #commitmentNew_performer_firstName {
    width: 20%;
    margin-right: 2px;
}
.ck-people .ck-new-req-field-performer #commitmentNew_performer_lastName {
    width: 30%;
    margin-right: 2px;
}
.ck-people .ck-new-req-field-performer #commitmentNew_performer_email {
    width: 41%;
}

.ck-tags td
{
    background-color: transparent;
    border:0px;
    padding-top:6px;
    width:auto;
}

.ck-error-area {
    maring:0px; padding:0px;
}

.ck-new-request-top-right {
    width:100%;
    margin-top:-8px;
}
.ck-tags td label {
    padding:3px 6px 3px 6px;
}
#commitmentNew_performer_div_entity,
#commitmentNew_requestor_div_entity {
    margin-left:3px;
}

.commitmentNew_performer_div_entity,
.commitmentNew_performer_div_username,
.commitmentNew_performer_div_newuser {
    display:inline-block;
}
.commitmentNew_performer_div_newuser input,
.commitmentNew_performer_div_newuser label,
#commitmentNew_requestor_div_newuser input,
#commitmentNew_requestor_div_newuser label {
    display:inline-block;
    float:left;
}
.ck-description-area {
    padding-right:20px;
}
.ck-attachment-area {
    padding-left:10px;
}
.inline
{
    display: inline;
}

.narrow
{
    width: 6em;
}

.title_input
{
    width: 100%;
}

.date_input_new,
.title_input,
#commitmentNew_newBudget,
.ac_input,
#commitmentNew_categories_2,
#commitmentNew_categories_3,
#commitmentNew_categories_4,
#commitmentNew_description {
    border:1px #999 solid;
    padding:3px;
    font-size: 12px;
}

textarea
{
    width: 100%;
}

.show
{
    display: inline;
}


.edit_category input[type="number"] {
    width: 3em;
}

.edit_category input[type="text"] {
    width: 18em;
}

.strikethrough {
    text-decoration: line-through;
}

.gravatardef {
    margin-left: 3em;
}

.ck-commitment-form-table {
    width: 95%;
    table-layout: fixed;
    margin:10px auto;
    vertical-align: top;
}

.commitment-status {
    float:left;
    display:inline-block;
}
.commitment-status-update {
    width:36px;
    height:36px;
    margin: 1px;
}
.commitment-status-icon {
    width:36px;
    height:36px;
    background-image:url('/images/commitment-status-icon-bg.png');
    background-position:bottom right;
    background-repeat:no-repeat;
    border:1px solid #b3b3b3;
    border-radius:4px;
}
.commitment-status-icon img {
    padding:4px;
    margin:0px 4px;
}
.commitment-title {
    float:left;
    display:inline-block;
    margin:0px 20px;
}
.commitment-title h2 {
    font-size:22px;
    color:#666;
    font-family: Helvetica, Arial, sans-serif;
    margin:1px 0px;
    display:block;
    font-weight:normal;
}
.ck-progress-area {
    display:block;
}

.ck-progress-step {
    width:6px;
    height:6px;
    float:left;
    display:inline-block;
    border:1px solid #ccc;
    background-color:#efefef;
    margin:0px 1px;
}
.active-step-blue {
    border:1px solid #808080;
    background-color:#0064fa;
 }
.active-step-green {
    border:1px solid #808080;
    background-color:#58bc0a;
}
.active-step-silver {
    border:1px solid #808080;
    background-color:#aaa;
}
.active-step-gold {
    border:1px solid #808080;
    background-color:#fc0;
}

.ck-progress-status {
    font-family: Helvetica, Arial, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#999;
    float:left;
    display:inline-block;
    margin:3px 0px 0px 4px;
}
.ck-row-sep {
    height:10px;
    padding:5px 0px;
    font-size:0px;
}
.ck-row-sep hr {
    height:1px;
    color:transparent;
    border:0px;
    border-bottom:1px solid #999;
}
td.ck-cd-3cols-equal {
    width:33%;
}
.ck-cd-2cols-equal {
    width:50%;
}
.ck-cd-header {
    padding:5px 0px;
}
.ck-cd-topright {
    float:right;
    margin:0px;
    font-size:.9em;
}
.ck-cd-topright-return-list {
    display:block;
    margin:0px 0px 0px auto;
    text-align:right;
}
.ck-cd-topright-return-parent {
    display:block;
    margin:4px 0px 0px auto;
    text-align:right;
}
.ck-cd-topright-return-parent .label {
    color:#000;
}
.ck-cd-due-days {
    font-family: Helvetica, Arial, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#999;
    display:block;
    margin:0px;
}
.ck-cd-label-col-left {
    width:110px;
}
.ck-people td.ck-cd-field-col-right,
#showBudget,
#showDelivered,
#showDueDate,
.showCatagories {
    width:auto;
    background-image: url("/images/form-textinputbg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #999999;
    padding: 3px;
    height: 14px;
}

.ck-people {
    padding-right: 12px;
}

#showBudget,
#showDelivered,
#showDueDate {
    width:100px;
    display:inline-block;
    height: 14px;
    vertical-align: top;
}

.ck-cd-history-area {
    height:191px;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:scroll;
    overflow-style:marquee-block;
    border:1px solid #ccc;
    padding:4px 0px 0px 0px;
    margin:0px 10px 0px 0px;
    min-height:191px;
    resize: vertical;
}

.ck-cd-history-button {
    font-size: x-small;
    text-decoration: none;
}

.ck-cd-history-active {
    color: #33f;
}

.ck-cd-history-disabled {
    color: #111;
    pointer-events: none;
    cursor: default;
}

.ck-cd-history-item {
    position: relative;
    width:97%;
    border-bottom:1px solid #ccc;
    margin:0px 0px 4px 4px;
    padding:4px 0px 4px 4px !important;
    overflow:hidden;
    color:#333;
    font-size:13px;
    font-weight:normal;
    resize: none;
    cursor: pointer;
}
.ck-cd-history-item-image {
    float: left;
    height:48px;
    width:48px;
    border:1px solid #999;
    margin: 0px 10px 0px 0px;
    background-color:#666;
}

.ck-cd-history-item-header span {
    margin: 0px;
    padding: 0px;
}
.ck-cd-history-item-details-date {
    color:#808080;
    margin:5px 5px 5px 0;
}
.ck-cd-history-item-details-person {
    color:#666;
}
.ck-cd-history-item-details-role {
    color:#999;
}
.ck-cd-history-item-details-action {
    color:#666;
}
.ck-cd-history-item-desc-short {
    margin:1em 4px 0px 0px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.ck-cd-history-item-desc-long {
    display: none;
}

.ck-cd-history-item-desc-long p {
    margin-bottom: 0px;
}

.ck-cd-history-header,
.ck-cd-next-action-header {
    vertical-align:bottom;
    height:20px;
    padding:10px 0px;
}
.ck-cd-next-action-header label {
    font-size: 14px;
    color:#0071bc;
    display:inline-block;
    margin-left: 5px;
}
.ck-cd-history-header .sort {
    font-size: 11.7px;
    margin:0px 10px;
}
.ck-cd-action-area {
    vertical-align:top;
}
.ck-cd-actions {
    margin:5px;
}
.ck-cd-actions label {
    padding-right: 4px;
    color: #000 !important;
    display:inline-block;
    white-space:nowrap;
}
.ck-cd-comment-metadata {
    margin:5px;
}
.ck-cd-comment-metadata span {
    font-size:13px;
}
.ck-cd-comment-field {
    margin:5px;
}
.ck-cd-comment-field textarea{
    resize: vertical;
    border:3px solid #0099ff;
}
.ck-cd-form-buttons {
    margin:5px 0 0 10px;
}
.ck-accordion-right {
    float:right;
    display:inline-block;
    white-space:nowrap;
    margin:2px 0px 2px 26px;
    font-size:.9em;
    font-weight:normal;
}
.ck-create-link {
    background-image:url('/images/icon-create.png');
    background-position: 0px 0px;
    background-repeat:no-repeat;
    padding:2px 4px 2px 22px;
}
.ck-attach-link {
    background-image:url('/images/icon-attach.png');
    background-position: 0px 2px;
    background-repeat:no-repeat;
    padding:2px 4px 2px 21px;
}
.ck-link-link {
    background-image:url('/images/icon-link.png');
    background-position: 0px 2px;
    background-repeat:no-repeat;
    padding:2px 4px 3px 21px;
}
#accordion h3 .ck-accordion-right a:hover {
    color:#06F;
    text-decoration:underline;
}
#commitment_newBudget {
    width:50px;
    display:inline-block;
    margin:0px 5px;
    background-color: #FFF8AD;
    background-image: none;
}
#commitment_newDueDate {
    width:130px;
    background-color: #FFF8AD;
    background-image: none;
}
#commitmentNew_performer_div_newuser #commitmentNew_performer_newuser,
#commitmentNew_requestor_div_newuser #commitmentNew_requestor_newuser {
    display:inline-block;
    width:auto;
}

/* Hide Tabs on New Request form and the Commitment Details */
.ck-toptab-area {
    display:none;
}
.ck-required-red {
    color: #F00;
}

.hide {
    display: none !important;
}
.ck-required-footer {
    font-size:11px;
}

#bottom-accord h3 {
    padding:.6em 2.2em;
    display: block;
    min-height: 0;
    position: relative;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: url("/images/ui-bg_glass_100_f2f2f2_1x400.png") repeat-x scroll 50% 50% #F2F2F2;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    outline: 0 none;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
    margin:0px;
    margin-top: 3px;
}
#bottom-accord div.bottom-content {
    display: none;
    border: 1px solid #ccc;
    border-top: 0px;
    overflow: auto;
    padding: 1em 2.2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: url("/images/ui-bg_highlight-soft_100_ffffff_1x100.png") repeat-x scroll 50% top #FFFFFF;
    color: #333333;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
}
#bottom-accord .ck-twistie {
    height: 16px;
    width:16px;
    background: url(/images/twists.gif) no-repeat left top transparent;
    margin: 0 3px 0 0;
    padding: 1px 5px;
    cursor: pointer;
}

#bottom-accord .ck-attachment_div_tb{
    display: none;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
}

#commitment_action_1, #commitment_action_2, #commitment_action_3, #commitment_action_4 {
    margin-left:15px;
}
