/*! jQuery UI - v1.10.2 - 2013-04-12
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=0px&bgColorHeader=%23f2f2f2&bgTextureHeader=highlight_soft&bgImgOpacityHeader=35&borderColorHeader=%23999999&fcHeader=%230064fa&iconColorHeader=%23999999&bgColorContent=%23ffffff&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=%23dddddd&fcContent=%23333333&iconColorContent=%230064fa&bgColorDefault=%23f2f2f2&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=%23cccccc&fcDefault=%23333333&iconColorDefault=%23999999&bgColorHover=%23ffffff&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=%23cccccc&fcHover=%230064fa&iconColorHover=%23999999&bgColorActive=%23ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=%23cccccc&fcActive=%23333333&iconColorActive=%23999999&bgColorHighlight=%23ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=%23fed22f&fcHighlight=%23363636&iconColorHighlight=%23228ef1&bgColorError=%23b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=%23cd0a0a&fcError=%23ffffff&iconColorError=%23ffd27a&bgColorOverlay=%23666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=%23000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("/images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff url("/images/ui-bg_highlight-soft_100_ffffff_1x100.png") 50% top repeat-x;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #999999;
	background: #f2f2f2 url("/images/ui-bg_highlight-soft_35_f2f2f2_1x100.png") 50% 50% repeat-x;
	color: #0064fa;
	font-weight: bold;
}
.ui-widget-header a {
	color: #0064fa;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border-bottom: 1px solid #cccccc;
	/* background: #f2f2f2 url("/images/ui-bg_glass_100_f2f2f2_1x400.png") 50% 50% repeat-x; */
	font-weight: bold;
	color: #333333;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #333333;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #cccccc;
	background: #f2f2f2 url("/images/ui-bg_glass_100_f2f2f2_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #0064fa;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #0064fa;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #cccccc;
	background: #f2f2f2 url("/images/ui-bg_glass_100_f2f2f2_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #333333;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #333333;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url("/images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url("/images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("/images/ui-icons_0064fa_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("/images/ui-icons_999999_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("/images/ui-icons_999999_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("/images/ui-icons_999999_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("/images/ui-icons_999999_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("/images/ui-icons_228ef1_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("/images/ui-icons_ffd27a_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}

/* Overlays */
.ui-widget-overlay {
	background: #666666 url("/images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url("/images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px;
}

html{
    background-color:#CCC !important;
}

body {
    margin:0 auto;
    padding:0;
    border:0; /* This removes the border around the viewport in old versions of IE */
    width: 1280px;
    background-color:#fff !important;
    min-width:600px;    /* Minimum width of layout */
    font-family:Helvetica, Arial, sans-serif; 
    font-size: 13px;
    border: 1px solid #CCC;
}

/* BANNER */ 
#ck-header {
        margin:0px;
        height:100px;
        background-image: url("/images/commitkeeper-bannerbg-repeat.png");
        background-color:#0398c2;
        background-repeat: repeat-x;
        background-position:0px 0px;
}
#ck-header .ck-logo { 
        margin: 4px 20px 5px 20px; 
        display:inline-block;
        }
#ck-banner { 
        height:50px;
        background: #cecece url('/images/headerbg.png') top left repeat-x; 
        color:#888; 
        margin:0px; 
        width:100%;
        position:relative;
}       
#ck-bannertitle { 
        background-image:url('/images/commitkeeper-bannerbg.png');
        background-color: transparent;
        background-repeat:no-repeat; 
        background-position:0px -50px; 
        color:#fff; 
        margin:0px;
}       
.ck-bannertitle-shadowtop { 
        height:10px; 
        background-image:url('/images/shadow-top.png'); 
        background-repeat: repeat-x; 
        background-position: left top;  
        margin:0px; 
        display:block; 
}
.ck-bannertitle-shadowbottom { 
        height:10px; 
        background-image:url('/images/shadow-bottom.png'); 
        background-repeat: repeat-x; 
        background-position: left bottom;  
        margin:0px; 
        display:block; 
}
#ck-bannertitle h2 { 
        margin:8px 0px 0px 22px; 
        display:block; 
        padding:0;
        font-size:18px;
        text-transform:uppercase; 
        font-weight:normal;
        text-shadow: 1px 1px 1px #000;
        color:#fff; 
}

/* Taller Banner - Begin */
#ck-header { height:auto; }
#ck-bannertitle { height:70px; }
#ck-bannertitle h2 { margin-top:28px; height: 21px; }
.ck-bannertitle-shadowbottom {  }
/* Taller Banner - End */

/* TOP BUTTONS */ 
.ck-seperator { 
        width: 1px; 
        background-color:#9a9a9a; 
        border:0px;  
        border-right: 1px #fff solid;
        height:50px;
        display:inline-block; 
        margin:0px; 
}
.ck-topbuttons {
        display:inline-block; 
        margin:0px; 
}
.ck-topbuttons ul, 
.ck-topbuttons li {
        padding:0px; 
        margin:0px; 
        display:inline-block;
}
.ck-topbuttons ul {
        margin:5px 10px 10px 10px;
}
.ck-topbuttons li {
        float:left;
        padding:5px 6px; 
        background: #c6c6c6 url('/images/btn-bg-off.png') 0px 0px repeat-x; 
}
.ck-topbuttons li:hover {
        background: #e7e7e7 url('/images/btn-bg-on.png') 0px 0px repeat-x; 
}
.ck-topbuttons .ck-seperator {
        display:inline-block; 
        margin:0px; 
}
.ck-topbutton {
        display:inline-block; 
        border:1px #808080 solid; 
        margin:0px; 
        white-space:nowrap; 
}
.ck-topbuttons a, 
.ck-topbuttons a:link, 
.ck-topbuttons a:active, 
.ck-topbuttons a:visited, 
.ck-topbuttons a:hover {
        color:#333;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        display:inline-block;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        text-transform:uppercase;
        font-size:.9em; 
}
.ck-topbuttons a:hover { 
        color:#000; 
        text-shadow: 1px 1px 1px #fff; 
}

/* TOP ACTIONS */ 
.ck-topactions {
        display:inline-block;
        margin:5px 0px 0px 0px;
        float:right;
}
.ck-topactions ul, 
.ck-topactions li {
        padding:0px; 
        margin:0px; 
        display:inline-block;
}
.ck-topactions ul {
        margin:5px 10px 10px 10px;
}
.ck-topactions li {
        float:left;
        padding:6px; 
        background-position:0px 4px;
        background-repeat:no-repeat;   
}
.ck-topactions li:hover { 
}
.ck-topaction {
        display:inline-block; 
        margin:0px; 
        white-space:nowrap; 
}
.ck-topactions a { 
        margin:0px 12px 0px 15px;
        padding:0px 0px 0px 0px;
}

.ck-topactions a:link, 
.ck-topactions a:active, 
.ck-topactions a:visited, 
.ck-topactions a:hover {
        color:#666;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        display:inline-block;
        text-transform: capitalize;
        font-size: 12px;
}
.ck-topactions a:hover { 
        color:#000; 
        text-shadow: 1px 1px 1px #fff; 
}
.request { 
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; 
        border-right-width:0px;
}
.offer { 
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;     }
.todo {
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; 
        border-left-width:0px;
}
li.reports {
    background-image:url('/images/icon-reports.png'); 
}
li.print {
    background-image:url('/images/icon-print.png'); 
}
li.help {
    background-image:url('/images/icon-help.png');
}

li.prefs {
    background-image:url('/images/icon-gear.png');
}

li.logout {
    background-image:url('/images/icon-logout.png');
}

.ck-username { 
        color: #666;
        display:inline-block;
        vertical-align: top;
        margin: 10px 10px 10px 15px;
        padding: 3px 5px 2px 5px;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        font-size: 22px;
}
.ck-username a { 
}
.ck-username a:link, 
.ck-username a:active, 
.ck-username a:visited, 
.ck-username a:hover { 
        color: #06C; 
        text-decoration:none;
        padding:0px 3px 0px 3px; 
}
.ck-username a:hover { 
        color:#000; 
}

.ck-username .email {
        font-size: 12px;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 0;
}

/* Footer styles */
#footer {
    background-image: url('/images/footerbg.png');
    background-position: right top;
    background-repeat: no-repeat;
}

.new-commitment #footer {
    background-image: url('/images/footerbg2.png');
}

#footerbg {
    clear:both;
    float: left;
    width: 100%;
    background-color: #0092C1;
    background-image: url('/images/footerbg-repeat.png');
    background-position: left top;
    background-repeat: repeat-x;
}

/*  Legend  */
#ck_legend {
        display: block;
        margin-left: 10px;
        width: 500px;
        float: left;
}


#ck_legend tbody tr td {
        color: rgb(230,235,238);
        padding: 4px 5px 5px 5px;
        text-align: center;
        background-color: rgba(255,255,255,.1)
}

#ck_legend tbody tr td img{
        margin-top: 5px;
}

#ck_copyright {
        text-align: right;
        color: rgb(230,235,238);        
        width: 200px;
        float: right;
        margin-right: 10px;
        margin-top: 25px;
}
#ck_copyright a {
        color: rgb(230,235,238);
        text-decoration: none;                  
}
#ck_copyright a:hover {
        text-decoration: underline;             
}

.new-commitment #ck_copyright {
    margin-top: 0px;
}

.new-commitment #ck_legend {
    display: none;
}

#footer .ck-bannertitle-shadowbottom {
        clear: both;
}

.errortext
{
   color: red;
}

/* TOP TABS */ 

.ck-toptab-area { 
        float:right; 
        display:inline-block; 
        margin:-27px 0px 0px 0px;
}
.ck-toptab-area ul { 
        margin:0px;
        padding:0px;
}
.ck-toptab-area li { 
        margin:0px;
        padding:0px; 
        display:inline-block; 
}
.ck-toptab-area li.ck-toptab { 
        height:37px; 
        margin:0px 0px 0px -5px;
        float:left;  
}
.ck-toptab div { 
        height:37px; 
        float:left;  
        display:inline-block; 
        color:#666; 
        font-size:14px;
        text-transform: capitalize; 
        font-weight:normal;
        cursor:pointer;
}
.ck-toptab div .count { 
        font-size:14px; 
}
.ck-toptab-area li.normal { 
        z-index: auto;
        elevation: inherit; 
}
div.ck-toptab-area ul li.active { 
        position: relative;
        z-index:1; 
        elevation: above !important; 
        top: 1px;
}
.ck-toptab-left { 
        height:37px; 
        width:11px; 
        margin:0px;
        padding:0px; 
        background: transparent url("/images/tab-off-left.png") left top no-repeat; 
}
.ck-toptab-name { 
        height:37px; 
        width:auto; 
        margin:0px;
        padding:12px 4px 10px 4px; 
        background: transparent url("/images/tab-off-repeat.png") left top repeat-x; 
}
.ck-toptab-name a:link, 
.ck-toptab-name a:visited { 
        color:#666; 
        text-decoration:none; 
}
.ck-toptab-name a:active { 
        color:#000; 
        text-decoration:none; 
}
.ck-toptab-name a:hover { 
        color:#000; 
        text-decoration:none; 
}

.ck-toptab-right { 
        height:37px; 
        width:11px; 
        margin:0px;
        padding:0px; 
        background: transparent url("/images/tab-off-right.png") left top no-repeat; 
}
.active .ck-toptab-left { 
        background: url("/images/tab-on-left.png") left top no-repeat; 
}
.active .ck-toptab-name { 
        background: url("/images/tab-on-repeat.png") left top repeat-x; 
        color:#000;
}
.active .ck-toptab-right { 
        background: url("/images/tab-on-right.png") left top no-repeat; 
}
.ck-version {
        display:inline-block; 
        margin:0px; 
        left: 70px;
        bottom: 0px;
        position: absolute;
}
.ck-version .ck-versionlabel { 
        display:inline-block; 
        margin:0px 0px 0px 0px; 
        padding:0px 0px 0px 0px; 
        color:#999; 
        font-size:.7em; 
}
.ck-version div.ck-seperator { 
        margin:0px; 
}


/*  Welcome Message */ 
#ck_welcomeMsg {
        border: 1px solid; 
        border-color: #006CA0; 
        background-color: #E0FAFC;
        margin: 0px auto 30px auto;
        box-shadow: 10px 10px 5px #888888;
}

/* Button */
input[type=button] {
	height: 26px;
}
input[type=submit] {
	height: 31px;
}
INPUT[type='text'], INPUT[type='email'], TEXTAREA, select {
	background-image: url('/images/form-textinputbg.png');
	background-position: top left;
	background-repeat: repeat-x;
	border: 1px solid #999;
	padding: 3px;
}
INPUT[type='text']:focus, TEXTAREA:focus, INPUT[type='text']:active, TEXTAREA:active, select:active, select:focus {
	border: 1px solid #29abe2;
}
INPUT[type='text'], INPUT[type='email'], select {
	height: 25px;
}
INPUT:invalid {
	box-shadow: none;
}

button.ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:focus, input[type=submit].ck-cd-form-input-send:hover, input[type=submit].ck-cd-form-input-send:focus {
	cursor: pointer;
}

.ck-cd-form-input-cc {
	float: right;
	margin: 5px 5px;
	font-size: 12px;
}
.ck-cd-form-input-cancel {
	float: left;
	font-size: 11.7px !important;
	text-decoration: none;
	color: black;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 5px;
}
.ck-cd-form-input-send {
	float: right;
	font-size: 11.7px;
	color: black;
	border-radius: 4px;
	border: 1px solid #999;
	height: 24px !important;
	background-color: white;
}

select {
	width: 96%;
}

/**
*Auto complete related
*/
.ac_results {
        padding: 0px;
        border: 1px solid #7FB7FB;
        overflow: hidden;
        background-color: #AFD2FD;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results iframe {
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        filter:mask();
        width:3000px;
        height:3000px;
  
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
  
}

.ac_loading {
        background : #AFD2FD url('img/loader.gif') right center no-repeat;
}

.ac_over {
        background-color: white;
        color: black;
}

.JsDatePickBox{position:relative;width:212px;font-family:Arial;}.JsDatePickBox .jsDatePickCloseButton{cursor:pointer;position:absolute;z-index:1;top:1px;right:10px;width:33px;height:13px;background:url(/images/jsDatePick/closeButton_normal.gif) left top no-repeat;}.JsDatePickBox .jsDatePickCloseButtonOver{cursor:pointer;position:absolute;z-index:1;top:1px;right:10px;width:33px;height:13px;background:url(/images/jsDatePick/closeButton_over.gif) left top no-repeat;}.JsDatePickBox .jsDatePickCloseButtonDown{cursor:pointer;position:absolute;z-index:1;top:1px;right:10px;width:33px;height:13px;background:url(/images/jsDatePick/closeButton_down.gif) left top no-repeat;}.JsDatePickBox .boxLeftWall{float:left;width:7px;margin:0;padding:0;}.JsDatePickBox .boxLeftWall .leftTopCorner{margin:0;padding:0;width:7px;height:8px;background:url(/images/jsDatePick/boxTopLeftCorner.png) left top no-repeat;overflow:hidden;}.JsDatePickBox .boxLeftWall .leftBottomCorner{margin:0;padding:0;width:7px;height:8px;background:url(/images/jsDatePick/boxBottomLeftCorner.png) left top no-repeat;overflow:hidden;}.JsDatePickBox .boxLeftWall .leftWall{margin:0;padding:0;width:7px;background:url(/images/jsDatePick/boxSideWallPx.gif) #fff left top repeat-y;overflow:hidden;}.JsDatePickBox .boxRightWall{float:left;width:7px;margin:0;padding:0;}.JsDatePickBox .boxRightWall .rightTopCorner{margin:0;padding:0;width:7px;height:8px;background:url(/images/jsDatePick/boxTopRightCorner.png) left top no-repeat;overflow:hidden;}.JsDatePickBox .boxRightWall .rightBottomCorner{margin:0;padding:0;width:7px;height:8px;background:url(/images/jsDatePick/boxBottomRightCorner.png) left top no-repeat;overflow:hidden;}.JsDatePickBox .boxRightWall .rightWall{margin:0;padding:0;width:7px;background:url(/images/jsDatePick/boxSideWallPx.gif) #fff right top repeat-y;overflow:hidden;}.JsDatePickBox .topWall{position:absolute;overflow:hidden;top:0;left:7px;width:198px;height:4px;background:url(/images/jsDatePick/boxTopPx.gif) #fff left top repeat-x;}.JsDatePickBox .bottomWall{position:absolute;overflow:hidden;bottom:-1px;left:7px;width:198px;height:4px;background:url(/images/jsDatePick/boxTopPx.gif) #fff left top repeat-x;}.JsDatePickBox .hiddenBoxLeftWall{float:left;width:0;overflow:hidden;overflow:hidden;}.JsDatePickBox .hiddenBoxRightWall{float:left;width:0;overflow:hidden;overflow:hidden;}.JsDatePickBox .boxMain{float:left;background-color:#fff;margin:0;padding:15px 0 5px 0;}.JsDatePickBox .boxMainStripped{background:#fff;border:none;}.JsDatePickBox .tooltip{height:12px;line-height:11px;overflow:hidden;font-size:10px;color:#666;text-align:left;padding:0;margin:2px 0 2px 0;}.JsDatePickBox .weekDaysRow{height:12px;overflow:hidden;line-height:11px;font-size:10px;color:#666;text-align:center;padding:0;margin:2px 0 0 0;}.JsDatePickBox .weekDaysRow .weekDay{float:left;height:14px;overflow:hidden;width:24px;margin:0 5px 0 0;padding:0;}.JsDatePickBox .boxMainInner{background:#fff;width:198px;float:left;margin:5px 0 0 0;padding:0;}.JsDatePickBox .boxMainCellsContainer{background-color:#fff;margin:0;padding:0;}.JsDatePickBox .boxMainInner .controlsBar{overflow:hidden;height:20px;position:relative;}.JsDatePickBox .boxMainInner .controlsBarText{overflow:hidden;height:20px;line-height:20px;color:#000;font-size:12px;text-align:center;}.JsDatePickBox .boxMainInner .monthForwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(/images/jsDatePick/monthForward_normal.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .monthForwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(/images/jsDatePick/monthForward_over.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .monthForwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(/images/jsDatePick/monthForward_down.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .monthBackwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(/images/jsDatePick/monthBackward_normal.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .monthBackwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(/images/jsDatePick/monthBackward_over.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .monthBackwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(/images/jsDatePick/monthBackward_down.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearForwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(/images/jsDatePick/yearForward_normal.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearForwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(/images/jsDatePick/yearForward_over.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearForwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(/images/jsDatePick/yearForward_down.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearBackwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(/images/jsDatePick/yearBackward_normal.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearBackwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(/images/jsDatePick/yearBackward_over.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .yearBackwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(/images/jsDatePick/yearBackward_down.gif) left top no-repeat;}.JsDatePickBox .boxMainInner .skipDay{cursor:default;overflow:hidden;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;}.JsDatePickBox .boxMainInner .dayNormal{-khtml-user-select:none;font-size:12px;cursor:pointer;overflow:hidden;color:#4c4c4c;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayNormalToday{-khtml-user-select:none;font-size:12px;cursor:pointer;overflow:hidden;color:#f40f0f;font-weight:bold;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayDisabled{-khtml-user-select:none;cursor:default;font-size:12px;overflow:hidden;color:#999;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayOver{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#4c4c4c;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayOverToday{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;font-weight:bold;color:#f40f0f;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayDown{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#F9F9F9;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}.JsDatePickBox .boxMainInner .dayDownToday{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#f40f0f;font-weight:bold;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.dd-select{
    border-radius:2px;
    border:solid 1px #ccc;
    position:relative;
    cursor:pointer; 
	width:48px !important; 
	height:36px; 
}
.dd-desc {
    color:#333;
    display:block;
    overflow: hidden;
    font-weight:normal;
    line-height: 1.4em;
}
.dd-selected{
    overflow:hidden;
    display:block;
    padding:10px;
    font-weight:bold; 
}
.dd-pointer{
    width:0; height:0; position:absolute; right:10px; top:50%; margin-top:-3px; left:33px;
}
.dd-pointer-down{
    border:solid 5px transparent;
    border-top:solid 5px #000;
}
.dd-pointer-up{
    border:solid 5px transparent !important;
    border-bottom:solid 5px #000 !important;
    margin-top:-6px;
}
.dd-options{
    border:solid 1px #ccc;
    border-top:none;
    list-style:none;
    box-shadow:0px 1px 5px #ddd;
    display:none;
    position:absolute;
    z-index:2000;
    margin:0;
    padding:0;
    background:#fff;
    overflow:auto;
}
.dd-option{
    padding:10px;
    display:block;
    border-bottom:solid 1px #ddd;
    overflow:hidden;
    text-decoration:none;
    color:#333;
    cursor:pointer;-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
.dd-options > li:last-child > .dd-option{
    border-bottom:none;
}
.dd-option:hover{
    background:#f3f3f3;
    color:#000;
}
.dd-selected-description-truncated {
    text-overflow: ellipsis;
    white-space:nowrap; }
.dd-option-selected {
    background:#f6f6f6;
}
.dd-option-image, .dd-selected-image {
    vertical-align:middle;
    float:left;
    margin-right:5px;
    max-width:64px;
}
.dd-image-right {
    float:right;
    margin-right:15px;
    margin-left:5px;
}
.dd-container{
    position:relative;
}
.dd-selected-text {
    font-weight:bold
}
.dd-selected small {
    display:none;  
}

/*
* Css file for the forms
*/

html {
    height:100%
}

#overlay {
    display: none;
    position:absolute;
    z-index:10;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    opacity:0.1;
    cursor:pointer;
}

.modal_container
{
    position:relative;
    top:0;
    left:0;
}

.users_dialog {
    display: none;
    position:absolute;
    top: -50px;
    left:0;
    border:2px solid #3366CC;
    max-height:32em;
    width: 64em;
    overflow:auto;
    background-color:#ffffff;
    z-index:12;
    padding: 10px;
}

.users_table_div {
    max-height:20em;
    overflow:auto;
}

.sending-ajax {
    /* Make new user dialog window look different when
       we are waiting for a reponse from server */
    /* background-color:#222; removed, see mantis issue 233 */
}

.cc-formtable-new {
    margin:10px auto;
    width:90%;
    font-size:14px;
}
.cc-formtable-new table {
    margin:0px;
}

.error
{
    color: red;
}

.label, label
{
    font-weight: bold;
    color:#737373;
}

.date_input
{
    width:   7em;
    padding: 0px;
    margin:  0px;
}

.date_input_new
{
    width:   7em;
}

.ck-new-req-title table {
    width:100%;
}

.ck-date-hours {
    border-bottom:1px #ccc solid;
}

.ck-date-hours td {
    background-color: transparent;
    border:0px;
    width:33%;
    white-space: nowrap;
}

.ck-new-req-hours-due {
    text-align:right;
}
.ck-new-req-hours-due table {
    float:right;
}
.ck-new-req-budget {
    text-align:right;
}
.ck-new-req-budget input {
    width:60px;
}
.ck-new-req-duedate {
    text-align:right;
}
.ck-people table {
    width:100%;
}

.observers_table {
    width: 630px !important;
    margin-right: 10px;
}
.ck-new-contact {
    margin-left: 10px;
}
.ck-pad-top-botton {
    margin-top : 5px;
    margin-bottom : 5px;
}

.ck-people td
{
    background-color: transparent;
    border:0px;
    padding:0px;
    vertical-align:top;
}
.ck-new-req-label-title {
    width:97px;
}
.ck-new-req-label-performer {
    width:100px;
}
.ck-new-req-label-requestor{
    width:100px;
}
.ck-new-req-label-observer {
    width:100px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.ck-new-req-field-title,
.ck-new-req-field-performer,
.ck-new-req-field-requestor,
.ck-new-req-field-observer {
    width: auto;
}
.ck-people .ck-new-req-field-title {
    padding-right:20px;
}
.ck-people .ck-new-req-field-performer {
    padding-right:8px;
}
.ck-people .ck-new-req-field-requestor {
    padding-right:20px;
}
.ck-people .ck-new-req-field-observer {
    padding-right:20px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ck-new-req-title .ck-new-req-field-title {
    padding-right:20px;
}
.ck-new-req-field-title input {
    width: 100%;
}

.ck-people .ck-new-req-field-performer #commitmentNew_performer_firstName {
    width: 20%;
    margin-right: 2px;
}
.ck-people .ck-new-req-field-performer #commitmentNew_performer_lastName {
    width: 30%;
    margin-right: 2px;
}
.ck-people .ck-new-req-field-performer #commitmentNew_performer_email {
    width: 41%;
}

.ck-tags td
{
    background-color: transparent;
    border:0px;
    padding-top:6px;
    width:auto;
}

.ck-error-area {
    maring:0px; padding:0px;
}

.ck-new-request-top-right {
    width:100%;
    margin-top:-8px;
}
.ck-tags td label {
    padding:3px 6px 3px 6px;
}
#commitmentNew_performer_div_entity,
#commitmentNew_requestor_div_entity {
    margin-left:3px;
}

.commitmentNew_performer_div_entity,
.commitmentNew_performer_div_username,
.commitmentNew_performer_div_newuser {
    display:inline-block;
}
.commitmentNew_performer_div_newuser input,
.commitmentNew_performer_div_newuser label,
#commitmentNew_requestor_div_newuser input,
#commitmentNew_requestor_div_newuser label {
    display:inline-block;
    float:left;
}
.ck-description-area {
    padding-right:20px;
}
.ck-attachment-area {
    padding-left:10px;
}
.inline
{
    display: inline;
}

.narrow
{
    width: 6em;
}

.title_input
{
    width: 100%;
}

.date_input_new,
.title_input,
#commitmentNew_newBudget,
.ac_input,
#commitmentNew_categories_2,
#commitmentNew_categories_3,
#commitmentNew_categories_4,
#commitmentNew_description {
    border:1px #999 solid;
    padding:3px;
    font-size: 12px;
}

textarea
{
    width: 100%;
}

.show
{
    display: inline;
}


.edit_category input[type="number"] {
    width: 3em;
}

.edit_category input[type="text"] {
    width: 18em;
}

.strikethrough {
    text-decoration: line-through;
}

.gravatardef {
    margin-left: 3em;
}

.ck-commitment-form-table {
    width: 95%;
    table-layout: fixed;
    margin:10px auto;
    vertical-align: top;
}

.commitment-status {
    float:left;
    display:inline-block;
}
.commitment-status-update {
    width:36px;
    height:36px;
    margin: 1px;
}
.commitment-status-icon {
    width:36px;
    height:36px;
    background-image:url('/images/commitment-status-icon-bg.png');
    background-position:bottom right;
    background-repeat:no-repeat;
    border:1px solid #b3b3b3;
    border-radius:4px;
}
.commitment-status-icon img {
    padding:4px;
    margin:0px 4px;
}
.commitment-title {
    float:left;
    display:inline-block;
    margin:0px 20px;
}
.commitment-title h2 {
    font-size:22px;
    color:#666;
    font-family: Helvetica, Arial, sans-serif;
    margin:1px 0px;
    display:block;
    font-weight:normal;
}
.ck-progress-area {
    display:block;
}

.ck-progress-step {
    width:6px;
    height:6px;
    float:left;
    display:inline-block;
    border:1px solid #ccc;
    background-color:#efefef;
    margin:0px 1px;
}
.active-step-blue {
    border:1px solid #808080;
    background-color:#0064fa;
 }
.active-step-green {
    border:1px solid #808080;
    background-color:#58bc0a;
}
.active-step-silver {
    border:1px solid #808080;
    background-color:#aaa;
}
.active-step-gold {
    border:1px solid #808080;
    background-color:#fc0;
}

.ck-progress-status {
    font-family: Helvetica, Arial, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#999;
    float:left;
    display:inline-block;
    margin:3px 0px 0px 4px;
}
.ck-row-sep {
    height:10px;
    padding:5px 0px;
    font-size:0px;
}
.ck-row-sep hr {
    height:1px;
    color:transparent;
    border:0px;
    border-bottom:1px solid #999;
}
td.ck-cd-3cols-equal {
    width:33%;
}
.ck-cd-2cols-equal {
    width:50%;
}
.ck-cd-header {
    padding:5px 0px;
}
.ck-cd-topright {
    float:right;
    margin:0px;
    font-size:.9em;
}
.ck-cd-topright-return-list {
    display:block;
    margin:0px 0px 0px auto;
    text-align:right;
}
.ck-cd-topright-return-parent {
    display:block;
    margin:4px 0px 0px auto;
    text-align:right;
}
.ck-cd-topright-return-parent .label {
    color:#000;
}
.ck-cd-due-days {
    font-family: Helvetica, Arial, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#999;
    display:block;
    margin:0px;
}
.ck-cd-label-col-left {
    width:110px;
}
.ck-people td.ck-cd-field-col-right,
#showBudget,
#showDelivered,
#showDueDate,
.showCatagories {
    width:auto;
    background-image: url("/images/form-textinputbg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #999999;
    padding: 3px;
    height: 14px;
}

.ck-people {
    padding-right: 12px;
}

#showBudget,
#showDelivered,
#showDueDate {
    width:100px;
    display:inline-block;
    height: 14px;
    vertical-align: top;
}

.ck-cd-history-area {
    height:191px;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:scroll;
    overflow-style:marquee-block;
    border:1px solid #ccc;
    padding:4px 0px 0px 0px;
    margin:0px 10px 0px 0px;
    min-height:191px;
    resize: vertical;
}

.ck-cd-history-button {
    font-size: x-small;
    text-decoration: none;
}

.ck-cd-history-active {
    color: #33f;
}

.ck-cd-history-disabled {
    color: #111;
    pointer-events: none;
    cursor: default;
}

.ck-cd-history-item {
    position: relative;
    width:97%;
    border-bottom:1px solid #ccc;
    margin:0px 0px 4px 4px;
    padding:4px 0px 4px 4px !important;
    overflow:hidden;
    color:#333;
    font-size:13px;
    font-weight:normal;
    resize: none;
    cursor: pointer;
}
.ck-cd-history-item-image {
    float: left;
    height:48px;
    width:48px;
    border:1px solid #999;
    margin: 0px 10px 0px 0px;
    background-color:#666;
}

.ck-cd-history-item-header span {
    margin: 0px;
    padding: 0px;
}
.ck-cd-history-item-details-date {
    color:#808080;
    margin:5px 5px 5px 0;
}
.ck-cd-history-item-details-person {
    color:#666;
}
.ck-cd-history-item-details-role {
    color:#999;
}
.ck-cd-history-item-details-action {
    color:#666;
}
.ck-cd-history-item-desc-short {
    margin:1em 4px 0px 0px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.ck-cd-history-item-desc-long {
    display: none;
}

.ck-cd-history-item-desc-long p {
    margin-bottom: 0px;
}

.ck-cd-history-header,
.ck-cd-next-action-header {
    vertical-align:bottom;
    height:20px;
    padding:10px 0px;
}
.ck-cd-next-action-header label {
    font-size: 14px;
    color:#0071bc;
    display:inline-block;
    margin-left: 5px;
}
.ck-cd-history-header .sort {
    font-size: 11.7px;
    margin:0px 10px;
}
.ck-cd-action-area {
    vertical-align:top;
}
.ck-cd-actions {
    margin:5px;
}
.ck-cd-actions label {
    padding-right: 4px;
    color: #000 !important;
    display:inline-block;
    white-space:nowrap;
}
.ck-cd-comment-metadata {
    margin:5px;
}
.ck-cd-comment-metadata span {
    font-size:13px;
}
.ck-cd-comment-field {
    margin:5px;
}
.ck-cd-comment-field textarea{
    resize: vertical;
    border:3px solid #0099ff;
}
.ck-cd-form-buttons {
    margin:5px 0 0 10px;
}
.ck-accordion-right {
    float:right;
    display:inline-block;
    white-space:nowrap;
    margin:2px 0px 2px 26px;
    font-size:.9em;
    font-weight:normal;
}
.ck-create-link {
    background-image:url('/images/icon-create.png');
    background-position: 0px 0px;
    background-repeat:no-repeat;
    padding:2px 4px 2px 22px;
}
.ck-attach-link {
    background-image:url('/images/icon-attach.png');
    background-position: 0px 2px;
    background-repeat:no-repeat;
    padding:2px 4px 2px 21px;
}
.ck-link-link {
    background-image:url('/images/icon-link.png');
    background-position: 0px 2px;
    background-repeat:no-repeat;
    padding:2px 4px 3px 21px;
}
#accordion h3 .ck-accordion-right a:hover {
    color:#06F;
    text-decoration:underline;
}
#commitment_newBudget {
    width:50px;
    display:inline-block;
    margin:0px 5px;
    background-color: #FFF8AD;
    background-image: none;
}
#commitment_newDueDate {
    width:130px;
    background-color: #FFF8AD;
    background-image: none;
}
#commitmentNew_performer_div_newuser #commitmentNew_performer_newuser,
#commitmentNew_requestor_div_newuser #commitmentNew_requestor_newuser {
    display:inline-block;
    width:auto;
}

/* Hide Tabs on New Request form and the Commitment Details */
.ck-toptab-area {
    display:none;
}
.ck-required-red {
    color: #F00;
}

.hide {
    display: none !important;
}
.ck-required-footer {
    font-size:11px;
}

#bottom-accord h3 {
    padding:.6em 2.2em;
    display: block;
    min-height: 0;
    position: relative;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: url("/images/ui-bg_glass_100_f2f2f2_1x400.png") repeat-x scroll 50% 50% #F2F2F2;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    outline: 0 none;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
    margin:0px;
    margin-top: 3px;
}
#bottom-accord div.bottom-content {
    display: none;
    border: 1px solid #ccc;
    border-top: 0px;
    overflow: auto;
    padding: 1em 2.2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: url("/images/ui-bg_highlight-soft_100_ffffff_1x100.png") repeat-x scroll 50% top #FFFFFF;
    color: #333333;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
}
#bottom-accord .ck-twistie {
    height: 16px;
    width:16px;
    background: url(/images/twists.gif) no-repeat left top transparent;
    margin: 0 3px 0 0;
    padding: 1px 5px;
    cursor: pointer;
}

#bottom-accord .ck-attachment_div_tb{
    display: none;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
}

#commitment_action_1, #commitment_action_2, #commitment_action_3, #commitment_action_4 {
    margin-left:15px;
}
