{% block user_input_widget %}
{% spaceless %}
{% include 'CKBundle:Form:Include/inputUser.html.twig' with {'form': form.user} %}
{{ form_errors(form.id) }}
{{ form_widget(form.id) }}
{% endspaceless %}
<script type="text/javascript" language="javascript"><!--
{% macro autocomplete(id, jsVar, choice_num, field, fname_long, fname_short) %}
choices_this = [];
for (i = 0; i < clength; i++) {
  choices_this[i] = choices[i].concat();
  choices_this[i][0] = choices[i][{{ choice_num }}];
}
ac_options_this = {};
for(var key in ac_options) {
  ac_options_this[key] = ac_options[key];
}
ac_options_this['onItemSelect'] = ac_itsel_{{ id }}_{{ fname_long }};
ac_options_this['onNoMatch'] = ac_nomatch_{{ id }}_{{ fname_long }};
ac_options_this['formatItem'] = ac_format_{{ id }}_{{ fname_long }};
{{ jsVar }}.{{ fname_short }} = $("#{{ field.vars.id }}").autocompleteArray(choices_this, ac_options_this);
{{ jsVar }}.{{ fname_short}} = {{ jsVar}}.{{ fname_short }}[0].autocompleter;
{% endmacro %}
{% import _self as js %}
var {{ jsVar }}={};
var choices_this, choices = {{ choices|raw }};
var i, clength = choices.length;
var ac_options_this, ac_options = {{ ac_options|raw }};
{{ js.autocomplete(id, jsVar, 2, form.user.firstName, 'firstName',  'fn') }}
{{ js.autocomplete(id, jsVar, 3, form.user.lastName, 'lastName', 'ln') }}
{{ js.autocomplete(id, jsVar, 4, form.user.email, 'email', 'em') }}

function ac_itsel_{{ id }}_firstName(li){
 var entId = li.extra[0] || '';
 document.getElementById('{{ form.id.vars.id }}').value = entId;
 document.getElementById('{{ form.user.lastName.vars.id }}').value = li.extra[2];
 document.getElementById('{{ form.user.email.vars.id }}').value = li.extra[3];
}
function ac_itsel_{{ id }}_lastName(li){
 var entId = li.extra[0] || '';
 document.getElementById('{{ form.id.vars.id }}').value = entId;
 document.getElementById('{{ form.user.firstName.vars.id }}').value = li.extra[1];
 document.getElementById('{{ form.user.email.vars.id }}').value = li.extra[3];
}
function ac_itsel_{{ id }}_email(li){
 var entId = li.extra[0] || '';
 document.getElementById('{{ form.id.vars.id }}').value = entId;
 document.getElementById('{{ form.user.firstName.vars.id }}').value = li.extra[1];
 document.getElementById('{{ form.user.lastName.vars.id }}').value = li.extra[2];
}

function ac_nomatch_{{ id }}_firstName(){
 var idInput = document.getElementById('{{ form.id.vars.id }}');
 if (idInput.value) {
   idInput.value = '';
   document.getElementById('{{ form.user.lastName.vars.id }}').value = '';
   document.getElementById('{{ form.user.email.vars.id }}').value = '';
 }
}
function ac_nomatch_{{ id }}_lastName(){
 var idInput = document.getElementById('{{ form.id.vars.id }}');
 if (idInput.value) {
   idInput.value = '';
   document.getElementById('{{ form.user.firstName.vars.id }}').value = '';
   document.getElementById('{{ form.user.email.vars.id }}').value = '';
 }
}
function ac_nomatch_{{ id }}_email(){
 var idInput = document.getElementById('{{ form.id.vars.id }}');
 if (idInput.value) {
   idInput.value = '';
   document.getElementById('{{ form.user.firstName.vars.id }}').value = '';
   document.getElementById('{{ form.user.lastName.vars.id }}').value = '';
 }
}

function ac_format_{{ id }}_firstName(row){
  return row[2] + ' ' + row[3] + ' &lt;' + row[4] + '&gt;';
}
function ac_format_{{ id }}_lastName(row){
  return row[3] + ', ' + row[2] + ' &lt;' + row[4] + '&gt;';
}
function ac_format_{{ id }}_email(row){
  return row[4] + ' (' + row[2] + ' ' + row[3] + ')';
}
//--></script>
{% endblock user_input_widget %}
