<div class="ck-toptab-area">
        <ul>
{% for tab in tabs %}
<li class="ck-toptab {{ tab.cssClass }}">
        <div class="ck-toptab-left"></div>
        <div class="ck-toptab-name"><a id="{{tab.id}}" href="{{
 TableSortUrl }}/{{tab.id}}">{{ tab.id|trans }} ({{ tab.count }})</a>
        </div>
        <div class="ck-toptab-right"></div>
</li>
{% endfor %}
        </ul>
</div>
