{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@CKBundle/Resources/public/css/main/main.css'
        '@CKBundle/Resources/public/css/main/button.css'
        '@CKBundle/Resources/public/css/main/table.css'
    output='css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_javascripts %}
    {% javascripts
        '@CKBundle/Resources/public/js/main/*'
        'bundles/bazingajstranslation/js/translator.min.js'
        'js/translations/config.js'
        'js/translations/javascript/*.js'
    output='js/main.js' %}
    <script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div id="overlay">
</div>
<div id="ck-header">
        {% block head %} 
        <div id="ck-banner">
                <a href="{{ path('CK_default') }}"><img src="/images/commitkeeper-logo.png" width="212" height="40" border="0" alt="CommitKeeper" class="ck-logo" /></a>
                <div class="ck-topbuttons">
                        <div class="ck-seperator">
                        </div>
                        <ul>
                                <li class="ck-topbutton request"> <a href="{{ path('CK_new_commitment',{'type':'request'}) }}">{% trans %}request{% endtrans %}</a> </li>
                                <li class="ck-topbutton offer"> <a href="{{ path('CK_new_commitment',{'type':'offer'}) }}">{% trans %}offer{% endtrans %}</a> </li>
                                <li class="ck-topbutton todo"> <a href="{{ path('CK_new_commitment',{'type':'toDo'}) }}">{% trans %}toDo{% endtrans %}</a> </li>
                        </ul>
                        <div class="ck-seperator">
                        </div>
                </div>
                <div class="ck-username">
                  <span class="name">{{ UserName }}</span>
                  <span class="email">{{ UserEmail }}</span>
                </div>
                <div class="ck-version">
                        <div class="ck-versionlabel" title="{% trans %}version.date{% endtrans %}: {{ version.date }}">
                                {% trans with {'%version%':version.ver, '%revno%':version.revno} %}version.info%version%_%revno%{% endtrans %}
                        </div>
                </div>
                <div class="ck-topactions">
                        <ul>
                                <li class="ck-topaction help"><a href="/help/{% trans %}help.index{% endtrans %}" target="_blank">{% trans %}Help{% endtrans %}</a></li>
                                <li class="ck-topaction prefs"><a href="{{ path('CK_edit_settings') }}">{% trans %}Settings{% endtrans %}</a></li>
                                <li class="ck-topaction logout"><a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                        </ul>
                </div>
        </div>
        {% endblock head %} 
        <div id="ck-bannertitle">
                <div class="ck-bannertitle-shadowtop">
                </div>
                <h2>
                        {% block heading %}{% endblock %} 
                </h2>
                {% block headertabs %} {% include 'CKBundle:Main:maintabs.html.twig' %} {% endblock %} 
                <div class="ck-bannertitle-shadowbottom">
                </div>
        </div>
</div>
<div class="rightcol">
        {% block rightcol %}{% endblock %} 
</div>
<div id="footerbg"{% if pageClass is defined %} class="{{ pageClass }}"{% endif %}><div id="footer">
    {% block legend %}
        <div class="ck-bannertitle-shadowtop"></div>
        <table border="0" cellspacing="1" cellpadding="5" id="ck_legend">
                <tbody>
                        <tr>
                                <td>{% trans %}legend.negotiation{% endtrans %}<br><img src="/images/negotiation.png" /></td>
                                <td>{% trans %}legend.progress{% endtrans %}<br><img src="/images/on_track.png" />&nbsp;&nbsp;
                                <img src="/images/at_risk.png" />&nbsp;&nbsp;
                                <img src="/images/off_track.png" /></td>
                                <td>{% trans %}legend.delivered{% endtrans %}<br><img src="/images/delivered.png" /></td>
                                <td>{% trans %}legend.accepted{% endtrans %}<br><img src="/images/completed.png" /></td>
                                <td>{% trans %}legend.canceled{% endtrans %}<br><img src="/images/cancelled.png" /></td>
                                <td>{% trans %}legend.declined{% endtrans %}<br><img src="/images/declined.png" /></td>
                        </tr>
                </tbody>
        </table>
        <div id="ck_copyright">&copy; {{ 'now'|date('Y') }}, <a href="http://4spires.com" target="new_window">4Spires Inc.</a></div>
        <div class="ck-bannertitle-shadowbottom"></div>
    {% endblock %}
</div></div>
{% endblock body %} 
