{% macro translate(variable, domain) %}
{% spaceless %}
    {% if domain %}
        {{ variable is iterable ? variable[0]|trans(variable[1], domain) : variable|trans({}, domain) }}
    {% else %}
        {{ variable is iterable ? variable[0]|trans(variable[1]) : variable|trans }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
