html, body {
        margin: 0;
        padding: 0;
        background: url('/images/bg200000.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: 100% 100%;
        -o-background-size: cover; background-size: cover;
}

#wrapper {
        margin: 0 auto;
        width: 924px;
}

#commitkeeper {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 620px;
        box-shadow: 3px 3px 10px #404040;
}

.panel {
        margin: 0 auto;
        width: 920px;
        background: #fff;
        padding: 0px 10px 5px 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 3px 3px 10px #000;
}

#panel_l {
        float: left;
        width: 450px;
        margin-right: 20px;
}

#panel_r {
        float: right;
        margin-left: 5px;
        width: 410px;
}

#panel_r h2 {
    text-align: right;
}

#panel_r p {
    text-align: center;
}

#panel_r img {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.footer {
    width: 840px; margin: 0 auto;
}
.footer p {
    color: #ccc;
    font-size: 12px;
    text-align: center;
}

a:link,
a:visited,
a:active {
        color: #0000a1;
        text-decoration: underline;
}

a:hover {
        color: #7787bc;
        text-decoration: none;
}

.buttonlink {
        cursor: pointer;
        padding: 3px 10px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        font-weight: normal;
        border: 1px solid #767676;
        border-radius: 5px;

        background-color: #cfcfcf;
        background: url('/images/top_panel_bg.png');
        background-repeat: repeat-x;

        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
        background: -webkit-linear-gradient(top, #ffffff, #767676);
        background: -moz-linear-gradient(top, #ffffff, #767676);
        background: -ms-linear-gradient(top, #ffffff, #767676);
        background: -o-linear-gradient(top, #ffffff, #767676);
        text-decoration: none;
        /*margin-bottom: 5px;*/
}

input[type=text],
input[type=email],
input[type=password] {
        border: 1px solid #808080;
        padding: 5px;
        width: 125px;
}

.inputname {
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 4px 0px;
}

.authalternatives {
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 4px 0px;
}

.name-label {
    width: 126px;
}
.name-widget {
    width: 304px;
}

.pwd-label {
    width: 130px;
}

.pwd-widget {
    width: 135px;
}

.pwd-signup {
    width: 165px;
}

.openid-signup {
    padding-top: 6px;
    padding-bottom: 6px;
}

.bluebutton {
    margin-right: 30px;
    font-size: 20px;  
    cursor: pointer;
    padding: 6px 15px;

    color: #f4ef92; /*#f8ebc2;*/
    text-shadow: 1px 1px #000;

    border: 1px solid #767676;
    border-radius: 5px;

    background-color: #cfcfcf;
    background: url('/images/button_b.png');
    background-repeat: repeat-x;
}

.label {
    text-align: right;
}

.nav_links {
    text-align: center;
}

.error {
    color: red;
}

img {
    border: 0 none;
}

img.size-full,
img.size-large {
        max-width: 97.5%;
        width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.top-panel p,
.top-panel td,
.top-panel li {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-panel tr
.TopMenu tr {
    vertical-align: middle;
}

.TopMenu {
    width: 766px;
    margin: auto;
    padding-left: 34px;
}

.main-table {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: #5F6060;
    padding-left: 34px;
    width: 800px;
    margin: auto;
}

.execution,
.benefits,
.who {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 219px;
    padding: 0px 18px 15px 18px;
}

.TopMenu p,
.TopMenu li {
    line-height: 20px;
}

.TopMenu ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

p {
    line-height: 20px;
    margin-bottom: 10px;
    text-indent: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    line-height: 20px;
    margin-bottom: 10px;
}

hr {
        border:0
        width: 100%
        height: 1px;
        color: #E5E8E8;
        background-color: #E0E0E0;
        margin-bottom: 3em;
}

.p1 {
        margin-top: .3em;
}

.p2 {
        margin-top: -.5em;
}

.home {
        font-family: Helvetica, sans-serif;
        font-size: 11px;
        margin-top: -.5em;
        color: #5F6060;
        margin: auto;
        font-weight: 300;
}

/* alignment settings from WP */
.alignleft {
        display: inline;
        float: left;
        margin-right: 1.625em;
}

.caption {
        font-family: Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: 200;
        text-align: justify;
        color: #5F6060;
        margin-left: 1.2em;
        margin-right: 1.2em;
}

.logoText {
        text-align: left
        font-family: Palatino, serif;
        font-size: 42px;
        color: #002F4F;
}

.colHead {
    font-size: 28px;
    color: #16549C;
    font-weight: 800;
    font-family: 'Helvetica Light',Helvetica, sans-serif;
    vertical-align: top;    
}

.pageHead {
        font-family: Helvetica, sans-serif; 
        font-size: 42px; 
        color: #003050; /* #757575; */ 
        margin-top: 1em;
}

.boldEm {
        font-weight: 700;
}

.backUp {
        font-size: 11pt;
        font-weight: 400;
        color: #E0E0E0;
        text-decoration: underline;
}

.TopMenu {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #757575;
    font-weight: 400;
    font-variant: small-caps;
}

.TopMenu A:link {text-decoration: none; color: #003050;}
.TopMenu A:visited {text-decoration: none; color: #757575;}
.TopMenu A:active {text-decoration: none}
.TopMenu A:hover {text-decoration: underline; color: red;}

.class2 A:link {text-decoration: underline; color: #7C7E7E;}
.class2 A:visited {text-decoration: none; color: #7C7E7E;}
.class2 A:active {text-decoration: none}
.class2 A:hover {text-decoration: underline; color: #16549C;}

.bottom-text {
    margin-top: 35px;
}
