/* settings.css */
#preferences {
    margin: 0 auto;
    width: 984px;
    padding: 0px 20px 25px 20px;
    background: #fff;
}

#edittags {
    margin: 0 auto;
    width: 984px;
    padding: 20px;
    background: #fff;
}

.error {
    color: red;
}

#preferences img {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    border: 0 none;
}

div.hr {
    height: 1px;
    color: #ccc;
    background-color: #ccc;
    border-style: none;
    margin: 10px 0 10px 0;
}

div.hr hr {
    display: none;
}

.clear {
    clear: both;
}


tr {
    vertical-align: middle;
}

p, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#preferences p, #preferences td {
    color: #666;
}

#edittags p, #edittags td {
    color: #000;
}

p {
    line-height: 18px;
    margin-bottom: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
}

#preferences h2 {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 5px;
    color: #000;
}

.label {
    text-align: right;
}

a:link,
a:visited,
a:active {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: #7787bc;
    text-decoration: none;
}

a.buttonlink:link,
a.buttonlink:visited {
    padding: 3px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #767676;
    border-radius: 5px;

    background-color: #cfcfcf;
    background: url('http://4spires.webdev2.coastside.net/categories/images/top_panel_bg.png');
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
    background: -webkit-linear-gradient(top, #ffffff, #767676);
    background: -moz-linear-gradient(top, #ffffff, #767676);
    background: -ms-linear-gradient(top, #ffffff, #767676);
    background: -o-linear-gradient(top, #ffffff, #767676);
    text-decoration: none;
    margin-bottom: 5px;
}

a.buttonlink:hover {
    background: #fff;
}

input[type=submit],
input[type=reset] {
    padding: 3px 7px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #767676;
    border-radius: 5px;

    background: #cfcfcf url('/images/top_panel_bg.png');
    background-repeat: repeat-x;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
    background: -webkit-linear-gradient(top, #ffffff, #767676);
    background: -moz-linear-gradient(top, #ffffff, #767676);
    background: -ms-linear-gradient(top, #ffffff, #767676);
    background: -o-linear-gradient(top, #ffffff, #767676);
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select {
    border: 1px solid #808080;
    padding: 3px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 150px;
}

input[type=number] {
    width: 50px;
}

.ck-settings-account {
    float: left;
    width: 400px;
    padding-left: 75px;
}

.ck-settings-account-1td {
    width: 80px;
}

.ck-settings-authentication {
    float: left;
    width: 400px;
    padding-left: 20px;
    padding-right: 82px;
}

.ck-settings-authmethod {
    padding-left: 65px;
}

.ck-settings-addopenid {
    padding-left: 25px;
}

.ck-settings-personal, .ck-settings-cat-header {
    margin-left: 100px;
    padding-bottom: 5px;
}

.ck-settings-cat-1 {
    float: left;
    width: 295px;
}

.ck-settings-cat-2 {
    float: left;
    width: 280px;
    padding-left: 50px;
}

.ck-settings-cat-3 {
    float: left;
    width: 280px;
    padding-left: 50px;
}

.ck-settings-menu-item {
    margin-bottom: 5px;
}

.ck-settings-personal select, .ck-settings-budget select {
    margin-left: 0.5em;
}

.ck-settings-left {
    float: left;
    width: 352px;
    padding: 0px 10px;
    margin-right: 10px;
    border: 1px solid #000;
}

.ck-settings-right {
    float: left;
    width: 578px;
    padding: 0px 10px;
    border: 1px solid #000;
}

.ck-settings-newbutton {
    margin-left: 60px;
}

.ck-settings-divider {
    clear: both;
    height: 20px;
}

.ck-settings-buttons {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.ck-settings-cancelbutton {
    margin-right: 20px;
}

.ck-settings-savebutton {
    margin-left: 20px;
}
