{% stylesheets
    '@CKBundle/Resources/public/css/main/main.css'
    '@CKBundle/Resources/public/css/admin/settings.css'
    output='css/settings.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
