{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Settings:cssdef_settings.html.twig' %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    output='js/form.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block rightcol %}
<div id="preferences">
<h2>{% trans %}settings.personal.id.header{% endtrans %}</h2>
<form action="{{ form_action }}" method="post" />

<div class="ck-settings-account">
{% set person=formUser.username %}
<table border="0" cellpadding="2" cellspacing="6" width="100%">
  <tr>
    <td class="ck-settings-account-1td">&nbsp;</td>
    <td><h2>{% trans %}settings.personal.id.accountInfo{% endtrans %}</h2></td>
  </tr>
  <tr>
    <td class="label">{{ form_label(person.firstName) }}</td>
    <td>{{ form_widget(person.firstName) }}{{ form_errors(person.firstName) }}</td>
  </tr>
  <tr>
    <td class="label">{{ form_label(person.lastName) }}</td>
    <td>{{ form_widget(person.lastName) }}{{ form_errors(person.lastName) }}</td>
  </tr>
  <tr>
    <td class="label">{{ form_label(person.email) }}</td>
    <td>{{ form_widget(person.email) }}{{ form_errors(person.email) }}</td>
  </tr>
  <tr><td colspan="2">{{ form_errors(formUser) }}</td></tr>
</table>
</div>

  <div class="ck-settings-authentication">
<table border="0" cellpadding="2" cellspacing="6" width="100%">
  <tr>
    <td>&nbsp;</td>
    <td><h2>{% trans %}settings.personal.id.changePassword{% endtrans %}</h2>{{ form_errors(formUser.passwordinput.password) }}</td>
  </tr>
{% for child in formUser.passwordinput.password %}
  <tr>
    <td class="label">{{ form_label(child) }}</td>
    <td>{{ form_widget(child,{'attr':{'autocomplete':'off'}}) }}{{ form_errors(child) }}</td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2" class="ck-settings-authmethod">
      {{ form_widget(formUser.keep) }}{{ form_errors(formUser.keep) }}
      {% trans %}settings.personal.id.usePassword{% endtrans %}
    </td>
  </tr>
  <tr>
    <td colspan="2" class="ck-settings-authmethod">
      <p class="ck-settings-addopenid">
        <a class="buttonlink" onclick="clear_cookie()" href="{{ addOpenIdUrl }}">{% trans %}settings.personal.id.addOpenId{% endtrans %}</a>
      </p>
      {{ form_errors(formUser.openIdentifier) }}
{% for oid in formUser.openIdentifier %}
      {{ form_widget(oid.keep) }}{{ form_errors(oid.keep) }}
      {{ form_widget(oid.provider) }}{{ form_errors(oid.provider) }}<br />
{% else %}
      {{ form_widget(formUser.openIdentifier) }}
{% endfor %}
</td>
  </tr>
</table>
{{ form_rest(formUser) }}

  </div>

  <div class="clear"></div>

<div class="ck-settings-divider"></div>

<div class="ck-settings-buttons">
  <a class="ck-settings-cancelbutton buttonlink" href="{{ url('CK_edit_settings') }}">{% trans %}Cancel{% endtrans %}</a>
  <input class="ck-settings-savebutton" type="submit" name="send" value="{% trans %}Save{% endtrans %}"/>
</div>
</form>
</div>
{% endblock %}
