{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Settings:cssdef_settings.html.twig' %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    output='js/form.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block rightcol %}
<div id="preferences">

<div id="panel1">
  <form action="{{ form_action }}" method="post" {{form_enctype(formPersonal)}}>
  <div class="ck-settings-personal">
    <h2>{% trans %}settings.personal.header{% endtrans %}</h2>
    {% trans with {'%a_start%': '<a href="' ~ path('CK_edit_id') ~ '">', '%a_end%':'</a>'} %}settings.personal.text%a_start%_%a_end%{% endtrans %}
    <div class="clear"></div>
    <p>
        <img src="{{ picture.Url }}" align="right" alt="{% trans %}settings.personal.profile{% endtrans %}">
        {{ form_widget(formPersonal.picture.file) }}{{ form_errors(formPersonal.picture.file) }}
        {{ form_errors(formPersonal.picture) }}
    </p>
    <p>
        {{ form_rest(formPersonal) }}
    </p>
  </div>
  <div class="clear"></div>
  <div class="ck-settings-buttons">
    <a class="ck-settings-cancelbutton buttonlink" href="{{ back_url }}">{% trans %}Cancel{% endtrans %}</a>
    <input type="submit" name="savePersonal" value="{% trans %}Save{% endtrans %}" class="ck-settings-savebutton">
  </div>
  </form>
</div>

<div class="hr"><hr></div>

<div id="panel2">
  <form action="{{ form_action }}" method="post">
  <div class="ck-settings-cat-header">
    <h2>{% trans %}settings.labels.header{% endtrans %}</h2>
    {% trans %}settings.labels.text{% endtrans %}
    <div class="clear"></div>
    <p class="ck-settings-budget">{{ form_widget(formGroup.hasBudgetField) }}
      {{ form_label(formGroup.hasBudgetField) }}
      {{ form_widget(formGroup.budgetUnit) }}
      {{ form_errors(formGroup.budgetUnit) }}</p>
    <div class="clear"></div>
    <p>{% trans %}settings.categories.explanation{% endtrans %}</p>
    <div class="clear"></div>
    {{ form_errors(formGroup.categories) }}
    {{ form_errors(formGroup) }}
  </div>

{% set cat_name_label = form_label(formGroup.categories.vars.prototype.name) %}
{% set cat_name_widget = form_widget(formGroup.categories.vars.prototype.name) %}

{% set cat_order_label = form_label(formGroup.categories.vars.prototype.order) %}
{% set cat_order_widget = form_widget(formGroup.categories.vars.prototype.order) %}

{% for idx in 0..2 %}
  <div class="ck-settings-cat-{{ idx+1 }}">
{% set category = categories[idx]|default(false) %}
{% set form_cat = formGroup.categories[idx]|default(false) %}

{% if form_cat %}
{{ form_errors(form_cat) }}
<table border="0" cellpadding="2" cellspacing="6" width="100%">
<tr>
  <td class="label">{{ form_label(form_cat.name) }}</td>
  <td>{{ form_widget(form_cat.name) }}</td>
</tr>
<tr>
  <td class="label">{{ form_label(form_cat.order) }}</td>
  <td>{{ form_widget(form_cat.order) }}</td>
</tr>
{% else %}
<table border="0" cellpadding="2" cellspacing="6" width="100%">
<tr>
  <td class="label">{{ cat_name_label|replace({'__name__':idx})|raw }}</td>
  <td>{{ cat_name_widget|replace({'__name__':idx})|raw }}</td>
</tr>
<tr>
  <td class="label">{{ cat_order_label|replace({'__name__':idx})|raw }}</td>
  <td>{{ cat_order_widget|replace({'__name__':idx})|raw }}</td>
</tr>
{% endif %}
<tr>
  <td class="label">{% trans %}settings.categories.tags{% endtrans %}</td>
  <td><input type="submit" value="Edit" name="edit[{{ idx }}]" class="ck-settings-editbutton"></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>
{% if category %}
{% for tag in category.Tags %}
    <span class="ck-settings-menu-item">{{ tag.Name }}</span><br />
{% endfor %}
{% endif %}
  </td>
</tr>
</table>
  </div>
{% endfor %}
  {{ form_rest(formGroup) }}
  <div class="clear"></div>

  <div class="ck-settings-buttons">
    <a class="ck-settings-cancelbutton buttonlink" href="{{ back_url }}">{% trans %}Cancel{% endtrans %}</a>
    <input type="submit" name="saveGroup" value="{% trans %}Save{% endtrans %}" class="ck-settings-savebutton">
  </div>
  </form>
</div>

</div>
{% endblock %}
