{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Commitment:cssdef_form.html.twig' %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    output='js/form.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block rightcol %}
<h1>Change account picture</h1>
Current picture: <img src="{{ picture.Url }}"/>

<h2>Use your own Gravatar</h2>
<img src="{{ picture.GravatarUrl }}"/>
<a href="http://gravatar.com/" target="_blank">Click here to register and/or make changes to your gravatar.</a>
Make sure that the email address you register at
<a href="http://gravatar.com/" target="_blank">http://gravatar.com</a>
is the same email address as here ({{ email }}).

<form action="{{ form_action }}" method="post" {{form_enctype(form)}}>
<input class="pill" type="submit" name="isGravatar" value="Use gravatar"/>
<p>
<div class ="gravatardef">
<span class="label">Change default picture to use if no gravatar is found:</span>
{{ form_widget(form.gravatarDefault) }}{{ form_errors(form.gravatarDefault) }}
</div>

<h2>Upload a picture</h2>
Upload a square picture ({{ ImageSize }}x{{ ImageSize }} pixels):
<table><tr>
 <td>{{ form_label(form.file) }}{{ form_widget(form.file) }}</td>
 <td>{{ form_errors(form.file) }}</td>
</table>
<input class="pill" type="submit" name="file" value="Upload"/>
<p>
If the picture is not square it will lose its aspect ratio.
To avoid losing quality because of resizing,
use a {{ ImageSize }}x{{ ImageSize }} pixel image.
Supported image formats are jpeg, png, gif, xbm and wbmp.
<p>
{{ form_errors(form) }}
{{ form_rest(form) }}
</form>
<p>
<a class="button pill" href="{{ back_url }}">Cancel</a>
{% endblock %}
