{% extends 'CKBundle:Security:login.html.twig' %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/login/*'
    '@CKBundle/Resources/public/css/main/button.css'
    output='css/login_debug.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block debug %}<td id="debug">
<div id="trigger" onclick="show_usernames();">X
<select class="userselect" id="userselect"
        onchange="on_userselect(this.value);">
<option value="" selected="selected">{% trans %}login.selectUser{% endtrans %}</option>
{% for user in users %}
<option value="{{ user.email }}">{{ user.Name }} ({{ user.email }})</option>
{% endfor %}
</select>
</div></td>{% endblock %}

{% block javascripts %}
{% javascripts
    'bundles/bazingajstranslation/js/translator.min.js'
    'js/translations/config.js'
    'js/translations/javascript/*.js'
    '@CKBundle/Resources/public/js/login/*'
    '@CKBundle/Resources/public/js/login/debug/*'
    output='js/login_debug.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript"><!--
setupJainRainLogin('{{ login_check_url }}');
//--></script>
{% endblock %}
